.pic{
    width: 500px;
    height: 470px;
    margin-top: 120px;
    margin-left: 20%;
}   

h1{
    margin-left: 50%;
    margin-top: -20%;
    font-size: 80px;
    font-weight: 900;
    text-shadow: 0cqmax;

}

button{
       margin-left: 70%;
    margin-top: -40%;
    outline: none;
    border: none;
    background-color: black;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;

}
button:hover{
    background-color:cadetblue;
    box-shadow: 0in;
    border: 1px solid red;
    transition:0.3s background-color ease-in;
}